*,
*::before,
*::after {
  box-sizing: border-box !important;
}

/* Custom Properties */

:root {
  --clr-cyan: #38c0c0;
  --clr-yellow: #f2b237;
  --clr-shalowdark: #1a2b33;
  --clr-lightdark: #1f3540;
  --clr-grey: #a8bfc9;
  --clr-light-grey: #5B717C;

  --ff-primary: "Lato", sans-serif;
  --ff-secondary: "Source Code Pro", monospace;
  --ff-tertiary: "Source Sans Pro", sans-serif;

  /* font size */

  --fs-large: 2rem;
  --fs-medium-large:1.8rem;
  --fs-medium: 1.5rem;
  --fs-medium-small: 1.3rem;
  --fs-small: 1rem;
  --fs-smaller: 0.7rem;

  /* letter-spacing */

  --ls:0.125em;

  /* box shadow */

  --bs: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  --bs-grey: 0 3px 0px #708087, 0 6px 3px rgba(0,0,0,0.23);
  --bs-grey-large:0 5px 0px #708087, 0 6px 3px rgba(0,0,0,0.23);
  --bs-yellow: 0 5px 0px #a17727, 0 6px 3px rgba(0, 0, 0, 0.23);
  --bs-cyan: 0 5px 0px #237878, 0 6px 3px rgba(0, 0, 0, 0.23);

  --cell-size: 100px;
  --mark-size: calc(var(--cell-size) * 0.9);

  --status-bar-height: 60px;
  --cell-margin: 0.5em;
}

body {
  margin: 0;
  height: 100vh;
  background: var(--clr-shalowdark);
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;

  
}

.container {
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
}

/* top status bar */

.top-status-bar,
.bottom-status-bar {
  height: var(--status-bar-height);
  display: grid;
  grid-template-columns: repeat(3, auto);
}

.logo,
.turn-indicator,
.restart-button {
  width: var(--cell-size);
  margin: var(--cell-margin);
  border-radius: 8px;
}

.logo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.logo__x,
.logo__o {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  
}

/* draw logo x */

.logo__x::before,
.logo__x::after {
  background-color: var(--clr-cyan);
  position: absolute;
  content: "";
  width: calc(var(--status-bar-height) * 0.12);
  height: calc(var(--status-bar-height) * 0.45);
}

.logo__x::before {
  transform: rotate(45deg);
}
.logo__x::after {
  transform: rotate(-45deg);
}

.logo__o i {
  color: var(--clr-yellow);
  font-size: calc(var(--status-bar-height) * 0.45);
}
/* turn indicator */

.turn-indicator {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  font-family: var(--ff-primary);
  color: var(--clr-grey);
  background: var(--clr-lightdark);
  box-shadow: var(--bs);
}
.turn-indicator .logo__x i {
  display: none;
}
.turn-indicator .logo__x,
.turn-indicator .logo__o {
  position: relative;
  display: flex;
  justify-content: flex-end;
  padding-right: 0.5em;
  
}
.turn-indicator .logo__o  {
  padding-right: 0;
}


.turn-indicator .logo__x::before,
.turn-indicator .logo__x::after {
 background-color: var(--clr-grey);
 width: calc(var(--status-bar-height) * 0.08);
  height: calc(var(--status-bar-height) * 0.3);
  
}

.turn-indicator .logo__o i {
  color: var(--clr-grey);
  font-size: calc(var(--status-bar-height) * 0.35);

}

.turn-indicator__text {
  display: flex;
  justify-content: flex-start;
  padding-left: 0.5em;
  align-items: center;
  
  font-size: var(--fs-smaller);
  font-weight: bold;
}

/* restart button */

.restart-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.restart-button i {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--clr-grey);
  box-shadow: var(--bs-grey);
  padding: 5px;
  border-radius: 5px;
  height: calc(var(--status-bar-height) * 0.6);
  width: calc(var(--status-bar-height) * 0.6);
}
.fa-redo {
  color: var(--clr-shalowdark);
}

/* bottom status bar */

.x-wins-count,
.tie-count,
.o-wins-count {
  width: var(--cell-size);
  margin: var(--cell-margin);
  border-radius: 8px;
  box-shadow: var(--bs);
  display: grid;
  grid-template-rows: 1fr 2fr;
  align-items: center;
  justify-content: center;
  padding-top: 0.25em;
}

.x-wins-count {
  background: var(--clr-cyan);
}

.bottom-status-bar {
  color: var(--clr-shalowdark);
  font-family: var(--ff-primary);
}
.x-wins-count__text,
.tie-count__text,
.o-wins-count__text {
  font-size: smaller;
}

.x-wins-count__number,
.tie-count__number,
.o-wins-count__number {
  font-weight: bolder;
  text-align: center;
  font-size: larger;
}

.tie-count {
  background: var(--clr-grey);
}

.o-wins-count {
  background: var(--clr-yellow);
}

/* game board and cells */

.board {
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);

  border: none;
}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  border: none;
  box-shadow: var(--bs);
  background: var(--clr-lightdark);

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  border-radius: 10%;
  margin: var(--cell-margin);
}

/* draw the cross */

.cell.x::before,
.cell.x::after {
  background-color: var(--clr-cyan);
  content: "";
  position: absolute;
  width: calc(var(--mark-size) * 0.15);
  height: calc(var(--mark-size) * 0.6);
}

.cell.x::before {
  transform: rotate(45deg);
}

.cell.x::after {
  transform: rotate(-45deg);
}

/* draw the circle */

.cell.o::before {
  background-color: var(--clr-yellow);
  width: calc(var(--mark-size) * 0.6);
  height: calc(var(--mark-size) * 0.6);
}
.cell.o::after {
  width: calc(var(--mark-size) * 0.3);
  height: calc(var(--mark-size) * 0.3);
  background-color: var(--clr-lightdark);
}


.cell.o::before,
.cell.o::after {
  content: "";
  position: absolute;
  border-radius: 50%;
}
/* cell in a win line style */
.cell.x.inWinLine {
  background-color: var(--clr-cyan);
}
.cell.x.inWinLine::before,
.cell.x.inWinLine::after {
  background-color: var(--clr-lightdark);
}

.cell.o.inWinLine {
  background-color: var(--clr-yellow);
}
.cell.o.inWinLine::before {
  background-color: var(--clr-lightdark);
}
.cell.o.inWinLine::after {
  background-color: var(--clr-yellow);
}


/* winning message */
.winning-message {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    color: var(--clr-grey);
    flex-direction: column;
    
  }
  .winning-message__cover {
      position: absolute;
      top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.4;

  }


  .winning-message__banner {
      background-color: var(--clr-lightdark);
      
      width: 100%;
      padding-top: 2.5em;
      padding-bottom: 2.5em;
      letter-spacing: 0.125em;
      font-weight: bold;

      display: flex;
      flex-direction: column;
      align-items: center;
      box-shadow: var(--bs);
      z-index: 1;
  }

  .winning-message__banner__who-wins{
      
      text-align: center;
      font-family: var(--ff-primary);
      font-size: var(--fs-smaller);

  }
.winning-message__banner__icon-and-text{ 
  display: grid;
  grid-template-columns: 1fr 4fr;
    text-align: center;
    font-size: var(--fs-medium-small);
    font-family: var(--ff-primary);
    
}
.winning-message__banner__icon-and-text.tie{
  display: flex;
  justify-content: center;
  align-items: center;
}

.winning-message__banner__icon-and-text.tie .winning-message__banner__icon {
display: none;
}

.winning-message__banner__icon-and-text .logo__x i {
  display: none;
}

.winning-message__banner__icon-and-text .logo__x,
.winning-message__banner__icon-and-text .logo__o {
  position: relative;
  display: flex;
  justify-content: center;
}

.winning-message__banner__icon-and-text .logo__x::before, 
.winning-message__banner__icon-and-text .logo__x::after {
  width: calc(var(--status-bar-height) * 0.168);
  height: calc(var(--status-bar-height) * 0.63);
}

.winning-message__banner__icon-and-text .logo__o  i {
  font-size: calc(var(--status-bar-height) * 0.63);
}

.winning-message__banner__text {
  display: flex;
  align-items: center;
  padding: 1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  color: var(--clr-cyan);
}
.winning-message__banner__icon-and-text.tie .winning-message__banner__text {
  color: var(--clr-grey);
}
.winning-message__banner__text.o-win {
  color: var(--clr-yellow);
}


.winning-message__banner__quit{
    
    margin-right: 0.75em;
    font-family: var(--ff-primary);
    font-size: var(--fs-smaller);
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    width: max-content;
    background-color: var(--clr-grey);
    border: none;
    border-radius: 6px;
    box-shadow: var(--bs-grey-large);
    font-weight: bold;
    

}

.winning-message__banner__next-round{
    
    font-family: var(--ff-primary);
    font-size: var(--fs-smaller);
    width: max-content;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    width: max-content;
    background-color: var(--clr-yellow);
    border: none;
    border-radius: 6px;
    box-shadow: var(--bs-yellow);
    font-weight: bold;
    

}
  
  .winning-message.show {
    display: flex;
  }

 

  .winning-message.show .winning-message__banner {
    animation: slide-in-from-left;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    
  }



  @keyframes slide-in-from-left {
    0%{
      transform: translateX(-100%);
    }
    100%{
      transform: translate(0);
    }
  }
  
  /* intro page */
.intro {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  color: var(--clr-grey);
  flex-direction: column;
}

.intro__content {
  background-color: var(--clr-shalowdark);
  row-gap: 1em;
  width: max-content;
  height: 100%;
  padding: 2em;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5em;
}
/* intro logo */
.intro__content__logo {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.intro__content__logo__x,
.intro__content__logo__o {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  font-size: var(--fs-large);
}
.intro__content__logo__x {
  margin-right: 0.25em;
}
.intro__content__logo__o {
  color: var(--clr-yellow);
  margin-left: 0.25rem;
}
.intro__content__logo__x::before,
.intro__content__logo__x::after {
  background-color: var(--clr-cyan);
  position: absolute;
  content: "";
  position: absolute;
  width: calc(var(--status-bar-height) * 0.15);
  height: calc(var(--status-bar-height) * 0.6);
}
.intro__content__logo__x::before {
  transform: rotate(45deg);
}
.intro__content__logo__x::after {
  transform: rotate(-45deg);
}

/* intro pick mark */
.intro__content__pick-mark {
  margin-top: 1em;
  display: grid;
  grid-template-rows: 1fr 1.5fr 1fr;
  row-gap: 1em;
  border: none;
  background-color: var(--clr-lightdark);
  border-radius: 10px;
  box-shadow: var(--bs);
  padding: 1em;
  width: 100%;
}

.intro__content__pick-mark__top-text,
.intro__content__pick-mark__bottom-text{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: var(--ff-primary);
    letter-spacing: 0.125em;
}
.intro__content__pick-mark__top-text {
    font-size: 1.2em;
}
.intro__content__pick-mark__bottom-text {
    font-size: 1em;
    color: var(--clr-light-grey);
}


.intro__content__pick-mark .intro__content__logo {
  background-color: var(--clr-shalowdark);
  padding: 0.5em;
  border-radius: 10px;
}
/* intro pick logo */
.intro__content__pick-mark .intro__content__logo__x
 {
    padding-top:0.25em;
    padding-bottom: 0.25em;
    padding-left: 2em;
    padding-right: 2em;
    border-radius: 10px;
}
.intro__content__pick-mark .intro__content__logo__x::before,
.intro__content__pick-mark .intro__content__logo__x::after {
    background-color: var(--clr-grey);
}

.intro__content__pick-mark .intro__content__logo__o {
    padding-top:0.25em;
    padding-bottom: 0.25em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 10px;
    color: var(--clr-shalowdark);
    background-color: var(--clr-grey);
}
.intro__content__pick-mark .intro__content__logo__x.pick{
  background-color: var(--clr-grey);
}
.intro__content__pick-mark .intro__content__logo__x.pick::before,
.intro__content__pick-mark .intro__content__logo__x.pick::after {
    background-color: var(--clr-shalowdark);
}
.intro__content__pick-mark .intro__content__logo__o.unpick {
  background-color: var(--clr-shalowdark);
  color: var(--clr-grey);
}

/* intro buttons */
.intro__content__buttons {
    padding: 2em;
    padding-left: 0;
    padding-right: 0;
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 1.5em;
    width: 100%;
    

}
.intro__content__buttons__vs-cpu,
.intro__content__buttons__vs-player {
    font-family: var(--ff-primary);
  font-size: var(--fs-small);
  width: max-content;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 2em;
  padding-right: 2em;
  width: max-content;
  background-color: var(--clr-yellow);
  border: none;
  border-radius: 6px;
  box-shadow: var(--bs-yellow);
  font-weight: bold;
  letter-spacing: 0.125em;
  width: 100%;
}

.intro__content__buttons__vs-player {
    background-color: var(--clr-cyan);
    padding-left: 2em;
  padding-right: 2em;
  box-shadow: var(--bs-cyan);
}

.intro.show {
  display: flex;
}
